/** Alert **/
.alert-wrapper {
  margin: 10px 0px;
}

.single-alert {
  color: white;
  padding: 10px;
  margin: 1px 0px;
  &.alert-danger {
    background-color: red;
  }
  &.alert-success {
    background-color: green;
  }
}

.single-todo.completed {
  text-decoration: line-through;
}
